/src/cheat/Debug/
/src/cheat/Release/
/src/cheat/DebugPerformance/
/src/cheat/resources/
/src/cheat/x64
/x64
.vs/*
.idea/*
node_modules/*
Debug/cheat.exe
Debug/cheat.pdb
Release/cheat.exe
Release/cheat.pdb
DebugPerformance/
league-of-legends.sln.DotSettings.user
Debug/GitHub-Desktop.exe
Debug/GitHub-Desktop.pdb
Debug/GitHub-Desktop.exp
Debug/GitHub-Desktop.lib
src/build-utils/obj/x64
src/build-utils/obj/Debug/net6.0/build-utils.AssemblyInfoInputs.cache
src/build-utils/obj/build-utils.csproj.nuget.dgspec.json
src/build-utils/obj/build-utils.csproj.nuget.g.props
src/build-utils/obj/build-utils.csproj.nuget.g.targets
src/build-utils/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/build-utils/obj/Debug/net6.0/build-utils.AssemblyInfo.cs
src/build-utils/obj/Debug/net6.0/build-utils.assets.cache
src/build-utils/obj/Debug/net6.0/build-utils.csproj.AssemblyReference.cache
src/build-utils/obj/Debug/net6.0/build-utils.GeneratedMSBuildEditorConfig.editorconfig
src/build-utils/obj/Debug/net6.0/build-utils.GlobalUsings.g.cs
src/build-utils/obj/project.assets.json
src/build-utils/obj/project.nuget.cache
src/build-utils/bin/Debug/net6.0/build-utils.deps.json
src/build-utils/bin/Debug/net6.0/build-utils.dll
src/build-utils/bin/Debug/net6.0/build-utils.exe
src/build-utils/bin/Debug/net6.0/build-utils.pdb
src/build-utils/bin/Debug/net6.0/build-utils.runtimeconfig.json
src/build-utils/obj/Debug/net6.0/apphost.exe
src/build-utils/obj/Debug/net6.0/build-utils.csproj.CoreCompileInputs.cache
src/build-utils/obj/Debug/net6.0/build-utils.csproj.FileListAbsolute.txt
src/build-utils/obj/Debug/net6.0/build-utils.dll
src/build-utils/obj/Debug/net6.0/build-utils.genruntimeconfig.cache
src/build-utils/obj/Debug/net6.0/build-utils.pdb
src/build-utils/obj/Debug/net6.0/ref/build-utils.dll
src/build-utils/obj/Debug/net6.0/refint/build-utils.dll
src/cheat/lib/debug/brotlicommon-static.lib
src/cheat/lib/debug/brotlidec-static.lib
src/cheat/lib/debug/brotlienc-static.lib
src/cheat/lib/debug/bz2d.lib
src/cheat/lib/x64/
src/cheat/lib/debug/crashpad_client.lib
src/cheat/lib/debug/crashpad_compat.lib
src/cheat/lib/debug/crashpad_getopt.lib
src/cheat/lib/debug/crashpad_handler_lib.lib
src/cheat/lib/debug/crashpad_minidump.lib
src/cheat/lib/debug/crashpad_snapshot.lib
src/cheat/lib/debug/crashpad_tools.lib
src/cheat/lib/debug/crashpad_util.lib
src/cheat/lib/debug/fmtd.lib
src/cheat/lib/debug/freetyped.lib
src/cheat/lib/debug/libcurl-d.lib
src/cheat/lib/debug/libpng16d.lib
src/cheat/lib/debug/lua51.lib
src/cheat/lib/debug/mini_chromium.lib
src/cheat/lib/debug/sentry.lib
src/cheat/lib/debug/spdlogd.lib
src/cheat/lib/debug/user.lib
src/cheat/lib/debug/user.pdb
src/cheat/lib/debug/zlibd.lib
src/cheat/lib/release/brotlicommon-static.lib
src/cheat/lib/release/brotlidec-static.lib
src/cheat/lib/release/brotlienc-static.lib
src/cheat/lib/release/bz2.lib
src/cheat/lib/release/crashpad_client.lib
src/cheat/lib/release/crashpad_compat.lib
src/cheat/lib/release/crashpad_getopt.lib
src/cheat/lib/release/crashpad_handler_lib.lib
src/cheat/lib/release/crashpad_minidump.lib
src/cheat/lib/release/crashpad_snapshot.lib
src/cheat/lib/release/crashpad_tools.lib
src/cheat/lib/release/crashpad_util.lib
src/cheat/lib/release/fmt.lib
src/cheat/lib/release/freetype.lib
src/cheat/lib/release/libcurl.lib
src/cheat/lib/release/libpng16.lib
src/cheat/lib/release/lua51.lib
src/cheat/lib/release/mini_chromium.lib
src/cheat/lib/release/sentry.lib
src/cheat/lib/release/spdlog.lib
src/cheat/lib/release/user.lib
src/cheat/lib/release/zlib.lib
src/cheat/lib/debug/lua.lib
src/cheat/lib/release/lua.lib
src/build-utils/bin/Release/net6.0/build-utils.deps.json
src/build-utils/bin/Release/net6.0/build-utils.dll
src/build-utils/bin/Release/net6.0/build-utils.exe
src/build-utils/bin/Release/net6.0/build-utils.pdb
src/build-utils/bin/Release/net6.0/build-utils.runtimeconfig.json
src/build-utils/obj/BuildServerRelease/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/build-utils/obj/BuildServerRelease/net6.0/build-utils.AssemblyInfo.cs
src/build-utils/obj/BuildServerRelease/net6.0/build-utils.AssemblyInfoInputs.cache
src/build-utils/obj/BuildServerRelease/net6.0/build-utils.csproj.AssemblyReference.cache
src/build-utils/obj/BuildServerRelease/net6.0/build-utils.GeneratedMSBuildEditorConfig.editorconfig
src/build-utils/obj/BuildServerRelease/net6.0/build-utils.GlobalUsings.g.cs
src/build-utils/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/build-utils/obj/Release/net6.0/_IsIncrementalBuild
src/build-utils/obj/Release/net6.0/apphost.exe
src/build-utils/obj/Release/net6.0/build-utils.AssemblyInfo.cs
src/build-utils/obj/Release/net6.0/build-utils.AssemblyInfoInputs.cache
src/build-utils/obj/Release/net6.0/build-utils.assets.cache
src/build-utils/obj/Release/net6.0/build-utils.csproj.CoreCompileInputs.cache
src/build-utils/obj/Release/net6.0/build-utils.csproj.AssemblyReference.cache
src/build-utils/obj/Release/net6.0/build-utils.csproj.FileListAbsolute.txt
src/build-utils/obj/Release/net6.0/build-utils.dll
src/build-utils/obj/Release/net6.0/build-utils.GeneratedMSBuildEditorConfig.editorconfig
src/build-utils/obj/Release/net6.0/build-utils.genruntimeconfig.cache
src/build-utils/obj/Release/net6.0/build-utils.GlobalUsings.g.cs
src/build-utils/obj/Release/net6.0/build-utils.pdb
src/build-utils/obj/Release/net6.0/ref/build-utils.dll
src/build-utils/obj/Release/net6.0/refint/build-utils.dll
src/cheat/BuildServerRelease/cheat.tlog/cheat.lastbuildstate
src/cheat/BuildServerRelease/cheat.tlog/CL.command.1.tlog
src/cheat/BuildServerRelease/cheat.tlog/unsuccessfulbuild
src/cheat/BuildServerRelease/clipper.obj
src/cheat/BuildServerRelease/imgui.obj
src/cheat/BuildServerRelease/imgui_demo.obj
src/cheat/BuildServerRelease/imgui_draw.obj
src/cheat/BuildServerRelease/imgui_impl_dx11.obj
src/cheat/BuildServerRelease/imgui_impl_win32.obj
src/cheat/BuildServerRelease/imgui_tables.obj
src/cheat/BuildServerRelease/imgui_widgets.obj
src/cheat/BuildServerRelease/cheat.tlog/CL.13756.write.1.tlog
src/cheat/BuildServerRelease/cheat.tlog/CL.read.1.tlog
src/build-utils/obj/Debug/net6.0/_IsIncrementalBuild
src/build-utils/obj/BuildServerRelease/net6.0/build-utils.assets.cache
pnpm-lock.yaml
src/build-utils/obj/project.packagespec.json
src/build-utils/obj/rider.project.restore.info
src/build-utils/bin/x64/Debug/net6.0/build-utils.deps.json
src/build-utils/bin/x64/Debug/net6.0/build-utils.dll
src/build-utils/bin/x64/Debug/net6.0/build-utils.exe
src/build-utils/bin/x64/Debug/net6.0/build-utils.pdb
src/build-utils/bin/x64/Debug/net6.0/build-utils.runtimeconfig.json
